*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.header{
    padding-top: 60px;
    margin-bottom: 47px;
}

.positioner{
    margin: 0 auto;   
    width: 1172px;
}

.header .positioner{
    min-height: 112px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    text-align: center;
}

.header-menu{
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}

.menu-item{
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.menu-item:hover{
    color: #FF7931;
}

a{
    color: black;
    text-decoration: none;
}

.description{
    margin-bottom: 44px;
    background: url(img/Mask%20Group.jpg) 50% 50% no-repeat;
    background-size: 100% 100%;
    color: white;
}

.description .positioner{
    min-height: 464px;
    text-align: center;
}

.description img{
    margin-top: 46px;
    margin-bottom: 32px;
}

.description-title{
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 130px;
}

.description-text{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.reviews{
    margin-bottom: -40px;
}

.reviews .positioner{
    min-height: 463px;
}

.review-title{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.column{
    width: 370px;
}

.column-wrapper{
    display: flex;
    justify-content: space-between;
}

.column-title{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    margin-top: 20px;
    margin-bottom: 11px;
}

.column-title:hover{
    color: #FF7931;
}

.column-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding-right: 10px;;
}

.tickets{
    margin-bottom: 50px;
    background-color: #F7F7F7;
    text-align: center;
}


.tickets .positioner{
    height: 556px;
    box-sizing: border-box;
    position: relative;
}

.circle{
    height: 707px;
    width: 707px;
    border-radius: 50%;
    box-sizing: border-box;
    padding-top: 108px;
    position: absolute;
    left: 233px;
    top: -75px;
    background-image: linear-gradient(180deg, 
    transparent 75px, 
    #fff 75px, 
    #fff 631px, 
    transparent 631px);
}

.tickets-title{
    padding-bottom: 35px;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.ticket-option{
    width: 370px;
    height: 104px;
    margin: 0 auto 25px;
}

.ticket-option-line{
    width: 100px;
    height: 0;
    border: 1px solid rgba(97, 16, 16, 0.2);
    opacity: 0.4;
    margin-top: -25px;
}

.option-title{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
}

.option-text{
    height: 63px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.tickets-btn{
    margin-bottom: 36px;
    width: 170px;
    height: 47px;
    background-color: #FF7931;
    color: white;
    border: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-right: 38px;
}

.tickets button:hover{
    background-color: #575757;
    color: white;
}

.tickets button:active{
    background-color: #a8a6a6;
}


.btn-logo{
    position: absolute;
    top: 15px;
    right: 31px;
}

.footer{
    background-color: #575757;
    margin: 0;
    color: white;
    text-align: center;
}

.footer .positioner{
    min-height: 295px;
}

.footer-title{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 1px;
    margin-bottom: 32px;
    padding-top: 26px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 46px;
    margin-bottom: 42px;
}

.footer a{
    color: white;
}

.links{
    display: flex;
    justify-content: center;
}

.link-btn{
    width: 47px;
    height: 47px;
    background-color: #fff;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-btn:last-child{
    margin-left: 0;
}

.link-btn:hover{
    background-color: #FF7931;
}
